
.btn-splash{
    border-radius: 100px;

    &.splash-blue{
        --bs-btn-color: var(--studio-navy);
        --bs-btn-bg: var(--studio-blue);
        --bs-btn-border-color: var(--studio-blue);
        --bs-btn-hover-color: var(--studio-navy);
        --bs-btn-hover-bg: var(--studio-blue);
        --bs-btn-hover-border-color: var(--studio-navy);
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: var(--studio-navy);
        --bs-btn-active-bg: var(--studio-blue);
        --bs-btn-active-border-color: var(--studio-navy);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: var(--studio-navy);
        --bs-btn-disabled-bg: var(--studio-blue);
        --bs-btn-disabled-border-color: var(--studio-blue);
    }
}
