@page
@{
    ViewData["Title"] = "Home";
}

<p>A sampling of works created by Caitlyn Sampica</p>

<div class="row">
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
</div>

<div class="row">
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
    <div class="col-sm-4 mb-3">
        <img src="~/media/blue-horse.png" class="img-fluid" />
    </div>
</div>