@import 'bootstrap/dist/css/bootstrap.css';

:root{
    --bs-body-color: #180065;
    --bs-dark-rgb: 24,0,101;
    --studio-blue: #96e6ff;
    --studio-pink: #ff84f1;
    --studio-orange: #ffaf80;
    --studio-yellow: #edff65;
}

main {
    margin-top: 56px;
}