@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --studio-navy: #180065;
    --studio-blue: #96e6ff;
    --studio-pink: #ff84f1;
    --studio-orange: #ffaf80;
    --studio-yellow: #edff65;

    --bs-body-color: var(--studio-navy);
    --bs-dark-rgb: 24, 0, 101;
}

.btn-outline-primary {
    --bs-btn-color: var(--studio-navy);
    --bs-btn-border-color: var(--studio-navy);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--studio-navy);
    --bs-btn-hover-border-color: var(--studio-navy);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--studio-navy);
    --bs-btn-active-border-color: var(--studio-navy);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:var(--studio-navy);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--studio-navy);
    --bs-gradient: none;
}

main {
    margin-top: 5rem;
}