
.homenav{
    margin-top: 100px;
}



.pillar > p {
    margin-top: 20px;
    font-size: 1.50em;
    font-weight: bold;
}

.pillar-color{
    color: #ff84f1;
}

.pillar-color{
    color: #edff65;
}

.pillar-color{
    color: #96e6ff;
}

.pillar-color{
    color: #ffaf80;
}

.font-color{
    color: #180065;
}



.wave-color{
    color: #d7d0ff;
}