.safety-worksheet-area{
    /* background-image:url(/static/images/safety_quiz.png);
    background-repeat:no-repeat;
    pointer-events:none;
    
    width: 500px;
    height: 500px; */
    position: relative;
}