
.pillar {
    border-radius: 75px 75px 0 0;
    background-color: var(--hexColor, "#ff84f1");
    height: 250px;
    width: 150px;
    margin-bottom: -70px;
    text-align: center;
    text-decoration: none;
}

.pillar > p {
    margin-top: 20px;
    font-size: 1.50em;
    font-weight: bold;
}